@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root {
  --dark: #0e0e0d;
  --night: #3f3d3d;
  --biscuit: #e8e1db;
  --white: #ffffff;
  --dark-red: #6d3249;
  --dark-mint: #326d56;
  --cardboard: #4c4a2b;
  --milk: #f7f4d0;
  --teal: #9adbd4;
  --mint: #d4ecd4;
  --lavander: #96abeb;
  --matcha: #4e5a35;
}

/* restaurant name styling */
.bubbleLetters {
  color: var(--biscuit);
}

/* card styling */
.card {
  background-color: var(--dark) !important;
  border-color: var(--milk);
  border-width: 3px !important;
  color: var(--biscuit) !important;
}

.cardItem {
  background-color: var(--night) !important;
  border-color: var(--milk) !important;
}

.cardItem:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a5a3a3;
}

.cardHeader {
  background-color: var(--dark-red);
}

.cardTitle,
.cardText {
  color: var(--white);
}

.menuItemTitle {
  flex: 1;
  text-align: center;
}

/* wrap text on restaurant menu item names and put price on top right of card */
.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardFooter {
  background-color: var(--night) !important;
  border-color: var(--white);
}

/* button styling for "Leave Review" and "View Reviews" */
.reviewButton {
  background-color: var(--white) !important;
  color: var(--dark) !important;
  border-color: var(--biscuit) !important;
  font-weight: bold;
}

.reviewButton:hover {
  background-color: var(--mint) !important;
  color: var(--night) !important;
}

/* button styling for "Add" on menu cards */
.addButton {
  background-color: var(--white) !important;
  color: var(--dark) !important;
  border-color: var(--biscuit) !important;
  border-width: 2px !important;
  font-weight: bold !important;
}

.addButton:hover {
  background-color: var(--teal) !important;
  color: var(--dark) !important;
}

/* button styling for "View Cart" */
.cartButton {
  background-color: var(--dark) !important;
  color: var(--biscuit) !important;
  font-weight: bold;
  border-color: var(--biscuit) !important;
  border-width: 4px !important;
}

.cartButton:hover {
  background-color: var(--cardboard) !important;
  color: var(--biscuit) !important;
  outline: none;
}

.cart-icon {
  color: white;
  transition: transform 1s ease-in-out;
  position: relative;
  margin-left: 10px;
}

/* spin upon hover */
.cart-icon:hover {
  transform: rotateY(180deg);
  transition: transform 1s linear;
}

  /* moves the icon to the right */
.roll-off {
  transform: translateX(5600%);
}

  /* makes cart appear to dissapear into button border */
.button-class {
  overflow: hidden;
  position: relative;
}

/* Sizing the image of menu items */
.foodimg {
  width: 100%;
  height: 20vh;
  object-fit: cover;

}
.foodType{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.hello {
  color: white !important;
  transition: color 0.2s ease-in-out;
  font-weight:500;
  border-bottom: 1px solid white!important;
}

.hello:hover {
  color: var(--cardboard) !important;
  border-bottom: 1px solid var(--cardboard) !important;

}