.cart-icon {
  color: white;
  transition: transform 1s ease-in-out;
  position: relative;
  margin-left: 10px;
}

/* spin upon hover */
.cart-icon:hover {
  transform: rotateY(180deg);
  transition: transform 1s linear;
}

  /* moves the icon to the right */
.roll-off {
  transform: translateX(5600%);
}

.button-class {
  /* makes cart appear to dissapear into button border */
  overflow: hidden;
  position: relative;
}

.cart-container {
  height: 400px;
  overflow-y: scroll;
}

.cart-container.fixed {
  position: fixed;
  top: 0;
  width: 100%
}