.bg {
  background-image: linear-gradient(
    to right,
    rgb(0,47,108),
    rgb(1, 67, 155),
    rgb(5, 88, 197),
    rgb(5, 100, 224)

  );
  background-size: auto;
  background-repeat: repeat;

  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}