.bg {
    background-image: linear-gradient(
      to right,
      rgb(64, 187, 228),
      rgb(90, 186, 218),
      rgb(154, 212, 231),
      lightblue
    );
    background-size: auto;
    background-repeat: repeat;
  
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }