

.container {
  display: flex;
  align-items: center;
}


.info-button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-button:hover {
  background: transparent;
  color: inherit;
}

.icon {
  margin-top: -8px;
  color: #0D6EFD;
}

.iconMinus{
  margin-top: -4px;
  color: black;
}

.iconPlus{
  margin-top: -4px;
  color: black;
}

.iconRemove{
  color: red;
}

.incrementButton {
  margin-left: 9px;
}

.decrementButton {
  margin-right: 5px;
}

/* template 1 blue cart buttons */
.cartbutton {
  background-color: #3f86c4 !important;
  border-color: #3f86c4 !important;
  border-radius: 4px !important;
}

.cartbutton:hover {
  background-color: #3570a3 !important;
  border-color: #3570a3 !important;

}

.cartbutton {
  background-color: #3f86c4 !important;
  border-color: #3f86c4 !important;
  border-radius: 4px !important;
}

.cartbutton:hover {
  background-color: #3570a3 !important;
  border-color: #3570a3 !important;

}

.editorder{
  background-color: #212529 !important;
  border-color: #212529 !important;
  border-radius: 4px !important;
  margin-right: 3px;
}

.editorder:hover{
  background-color: #000000  !important;
  border-color: #000000  !important;
}
