body {
  background-color: beige !important;
}  


.logoHome:hover {
  filter: drop-shadow(0 0 20px #444343);
}

.logoHome {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 60px;
  object-fit: scale-down;
  resize: contain;
}

#shadow {
  box-shadow: none !important;
}
