.boxes {
  background-color: beige;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  height: 200px;
  max-height: 35vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgb(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgb(0, 0, 0, 0.3);
}

.box {
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(50% - 40px);
}

.avatar {
  width: 15% !important;
  object-fit: scale-down;
  resize: contain;
  position: inherit;
}


/* animate mail and github icons on contact page to bounce upon hover */
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  80% {
    transform: translateY(-2px);
  }
}


/* mail and github icons on contact page */
.linkicon {
  color: black;
  transition: color 0.3s ease;
  display: inline-block;

}

.linkicon:hover {
  color: #E1CD56;
  animation: bounce 1s infinite;
}
