.a {
    margin-top: 100px;
    margin-bottom : 50px;
}

.I {
    margin-left: 90px;
}

.amplify-button {
    background-color: transparent;
  }

.amplify-button:hover {
    background-color: black;
  }

  .amplify-button:focus {
    background-color: transparent;
  }
