.accr {
  background-color: transparent !important;
}

.header-accr {
  background-color: transparent !important;
}

.containerAcc {
  display: flex;
  justify-content: center; 
   align-items: center;
}

.acc-body{
  color: black;
}
