/* Owner.css */
.Owner-bg {
    background-color: #1b1b1b;
    color: white;
    padding: 2rem;
  }

  .Owner-title {
    font-weight: bold;
  }

  .Owner-btn {
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .deletebutton {
    margin-left: 55px;
  }
