@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif !important;
  --font-alt: 'Open Sans', sans-serif !important;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}