.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 200px;
    gap: 150px;
  }
  .menu .card-food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu .card-food img {
    width: 100%;
    max-height: 300px;
  }
  